# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc
backend/data
backend/static

static/aalbert6/Test-4/0f6e5921b7c04d9ba8bb133b8877e80f.pdf
static/aalbert6/Test-4/1a6300ec4f6948ad9a745203ff674c4a.pdf
static/aalbert6/Test-4/1c91d44d09a640dd8ff34cbeb7baf158.pdf
static/aalbert6/Test-4/1c122b3db73d4aa1b8053102207274ca.pdf
static/aalbert6/Test-4/9c3624c583d046d3ba2f5a6cd7ca8efb.pdf
static/aalbert6/Test-4/9ce6013e5d9a40049022010cbe7d8a41.pdf
static/aalbert6/Test-4/75aec605a862426abf53c36089e1e5a3.pdf
static/aalbert6/Test-4/99e1de6e75ce482bb798ceb895a0c8a9.pdf
static/aalbert6/Test-4/983a0dc8c9e841febace0e83dc249bf3.pdf
static/aalbert6/Test-4/9993aa1f7fe64053b5f111ba4a8ef987.pdf
static/aalbert6/Test-4/a53f65628cce4206afff52151531a274.pdf
static/aalbert6/Test-4/c06bf68fb0ab4c1b8b40c841a3faaee4.pdf
static/aalbert6/Test-4/d59f0d0915524af5a4499d969074340b.pdf
static/aalbert6/Test-4/ee073785639945cf9a5fd4b36608b49c.pdf
static/aalbert6/Test-4/f0740c66a0794c89ba35bd3b6bec213c.pdf
static/aalbert6/Test-4/f191107b2b434e839c7fb792f6a6fc0b.pdf
static/aalbert6/Test-4/data_Bar_FIB/0f6e5921b7c04d9ba8bb133b8877e80f.pdf
static/aalbert6/Test-4/data_Bar_FIB/1a6300ec4f6948ad9a745203ff674c4a.pdf
static/aalbert6/Test-4/data_Bar_FIB/1c91d44d09a640dd8ff34cbeb7baf158.pdf
static/aalbert6/Test-4/data_Bar_FIB/1c122b3db73d4aa1b8053102207274ca.pdf
static/aalbert6/Test-4/data_Bar_FIB/9c3624c583d046d3ba2f5a6cd7ca8efb.pdf
static/aalbert6/Test-4/data_Bar_FIB/9ce6013e5d9a40049022010cbe7d8a41.pdf
static/aalbert6/Test-4/data_Bar_FIB/75aec605a862426abf53c36089e1e5a3.pdf
static/aalbert6/Test-4/data_Bar_FIB/99e1de6e75ce482bb798ceb895a0c8a9.pdf
static/aalbert6/Test-4/data_Bar_FIB/983a0dc8c9e841febace0e83dc249bf3.pdf
static/aalbert6/Test-4/data_Bar_FIB/9993aa1f7fe64053b5f111ba4a8ef987.pdf
static/aalbert6/Test-4/data_Bar_FIB/a53f65628cce4206afff52151531a274.pdf
static/aalbert6/Test-4/data_Bar_FIB/c06bf68fb0ab4c1b8b40c841a3faaee4.pdf
static/aalbert6/Test-4/data_Bar_FIB/d59f0d0915524af5a4499d969074340b.pdf
static/aalbert6/Test-4/data_Bar_FIB/ee073785639945cf9a5fd4b36608b49c.pdf
static/aalbert6/Test-4/data_Bar_FIB/f0740c66a0794c89ba35bd3b6bec213c.pdf
static/aalbert6/Test-4/data_Bar_FIB/f191107b2b434e839c7fb792f6a6fc0b.pdf
static/aalbert6/Test-4/images/imatges_1c122b3db73d4aa1b8053102207274ca/image_1_0.png
static/aalbert6/Test-4/images/imatges_75aec605a862426abf53c36089e1e5a3/image_1_0.png
static/aalbert6/Test-4/images/imatges_99e1de6e75ce482bb798ceb895a0c8a9/image_1_0.png
static/aalbert6/Test-4/images/imatges_a53f65628cce4206afff52151531a274/image_1_0.png
static/aalbert6/Test-4/images/imatges_d59f0d0915524af5a4499d969074340b/image_1_0.png
static/aalbert6/Test-4/images/imatges_ee073785639945cf9a5fd4b36608b49c/image_1_0.png
static/aalbert6/Test-4/images/imatges_f0740c66a0794c89ba35bd3b6bec213c/image_1_0.png
static/aalbert6/Test-5/c5e97da3eaf4427a8e971e0b3227ffeb.pdf
static/aalbert6/Test-5/data_Bar_FIB/c5e97da3eaf4427a8e971e0b3227ffeb.pdf
static/aalbert6/Test-5/images/imatges_c5e97da3eaf4427a8e971e0b3227ffeb/image_1_0.png
